@{
    ViewData["Title"] = "Cadastro Client";
}
@using CadastroClientQ.WebApp.Models
@model ClientFormViewModel;



<div class="container-fluid">


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cadastro Clientes</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" onclick="openModalAddClient()"><span class="icon-label"><i class="fa fa-plus"></i> </span><span class="btn-text">Incluir Cliente</span></button>
                </div>
            </div>
            <hr class="customHr" />
            <br />
            <div id="divTableList">
                @Html.Partial("_ListClients")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/clientForm.js"></script>
}

<div class="col-sm">
    <div class="modal" tabindex="-1" role="dialog" id="modalAddClient">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cadastro Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="hideModalAddClient()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formAddModel">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="inputName">Nome</label>
                                <input id="inputName" class="form-control" maxlength="40" required />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="inputAge">Idade</label>
                                <input id="inputAge" type="number" class="form-control" required />
                            </div>
                            <div class="col-md-6">
                                <label for="sexSelect">Sexo</label>
                                <select id="sexSelect" class="form-control form-control-user" required>
                                    <option selected value=""></option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                    <option value="3">Não Informar</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label for="stateSelect">Estado</label>
                                <select id="stateSelect" class="form-control form-control-user" required>
                                    <option selected value=""></option>
                                    @foreach (var item in Model.States)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="citySelect">Cidade</label>
                                <select id="citySelect" class="form-control form-control-user" disabled required>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <div class="text-right">
                            <button class="btn btn-danger" onclick="hideModalAddClient()"><span class="icon-label"></span><span class="btn-text">Cancelar</span></button>
                            <button class="btn btn-primary" type="submit"><span class="icon-label"></span><span class="btn-text">Salvar</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="col-sm">
    <div class="modal" tabindex="-1" role="dialog" id="modalUpdateClient">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalUpdateModel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideModalUpdateClient();" ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formUpdateClient">
                    <div class="modal-body">
                        <input type="hidden" id="idClientUpdateModal" />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="inputNameUpdate">Nome</label>
                                <input id="inputNameUpdate" class="form-control" maxlength="40" required />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="inputAgeUpdate">Idade</label>
                                <input id="inputAgeUpdate" type="number" class="form-control" required />
                            </div>
                            <div class="col-md-6">
                                <label for="sexSelectUpdate">Sexo</label>
                                <select id="sexSelectUpdate" class="form-control form-control-user" required>
                                    <option selected value=""></option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                    <option value="3">Não Informar</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label for="stateSelectUpdate">Estado</label>
                                <select id="stateSelectUpdate" class="form-control form-control-user" required>
                                    <option selected value=""></option>
                                    @foreach (var item in Model.States)
                                    {
                                    <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="citySelectUpdate">Cidade</label>
                                <select id="citySelectUpdate" class="form-control form-control-user" disabled required>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <div class="text-right">
                            <button class="btn btn-danger" onclick="hideModalUpdateClient()"><span class="icon-label"></span><span class="btn-text">Cancelar</span></button>
                            <button class="btn btn-primary" id="buttonUpdateClient" type="submit"><span class="icon-label"></span><span class="btn-text">Atualizar</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="col-sm">
    <div class="modal" tabindex="-1" role="dialog" id="modalConfirmAction">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalConfirmAction"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideModalDeleteClient()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="textBodyModalConfirmAction"></p>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button class="btn btn-danger" id="cancelButtonModalConfirmAction" onclick=""><span class="icon-label"></span><span class="btn-text">Cancelar</span></button>
                        <button class="btn btn-success" id="confirmButtonModalConfirmAction" onclick=""><span class="icon-label"></span><span class="btn-text">Confirmar</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


